@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<br />
<br />
<section class="container mt-5">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card bg-white py-2 px-4">
                <div class="card-body">
                    <h1 class="mb-2">Update Password</h1>
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword"></label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="Current Password"
                                   asp-for="Input.OldPassword" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewPassword"></label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="New Password"
                                   asp-for="Input.NewPassword" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="Confirm New Password"
                                   asp-for="Input.ConfirmPassword" />
                        </div>
                        <div class="form-group">
                            <input type="submit"
                                   value="Update Password"
                                   class="btn btn-dark btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}