<h1 class="mb-2">Manage Bootcamp</h1>
<p class="lead">
    You have not yet added a bootcamp
</p>
<a asp-action="Create" asp-controller="Bootcamps" asp-area="Bootcamp" class="btn btn-primary btn-block">Add Bootcamp</a>
<p class="text-muted mt-5">
    * You can only add one bootcamp per account.
</p>
<p class="text-muted">
    * You must be affiliated with the bootcamp in some way in order
    to add it to DevCamper.
</p>