@model string

<h1 class="mb-2">Manage Courses</h1>
<p class="lead">
    You have not yet added any courses
</p>
<a asp-action="Create" asp-controller="Courses" asp-area="Bootcamp" asp-route-Slug="@Model" class="btn btn-primary btn-block">Add Your first course</a>
